@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

input {
    font-family: 'Ubuntu', sans-serif;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

/* Table of content's title*/
.md-nav__title {
    color: rgb(0, 152, 254);
}

/* Selected item */
.md-nav__item .md-nav__link--active {
    color: rgb(0, 152, 254);
}

/* prevents the copyrighted footer to display */
.md-footer-meta {
    display: none;
}

/* Main title displayed at the upper left corner*/
.md-header__topic:first-child {
    color: white
}

/* top bar titles */
.md-tabs__item {
    color: white
}

/* bigger top links */
.md-tabs__link {
    font-size: 135%;
}

/* links with a similar aspect than those of the CHM */
.md-typeset a, .md-typeset a:before {
    transition: color 125ms;
    font-weight: bold;
    color: #26ff00;
    word-break: break-word;
}

/* better details admonitions */
.md-typeset .admonition>*, .md-typeset details>* {
    box-sizing: unset;
    font-size: 15px;
}

:root {
	--md-primary-bg-color--light: black; /* search bar prompt color */
}

/* search bar aspect */
@media screen and (min-width: 60em) {
    .md-search__form {
        background-color: white;
        border-radius: .1rem;
        height: 1.8rem;
    }
}

/* prompt text color (didnt work as of 07/11/2023)*/
form[name="search"] {
    color: black;
}

/* prompt text color (didnt work as of 07/11/2023)*/
[data-md-toggle=search]:checked~.md-header .md-search__input+.md-search__icon {
    color: black;
}

/* search fill background */
.md-search__input {
    background: white;
}

/* search results text color */
.md-search-result__meta {
    color: black;
}

/* black lens icon */
[dir=ltr] .md-search__icon[for=__search] {
    color: black;
}

/* better looking notes */
.md-typeset .note>.admonition-title, .md-typeset .note>summary {
    background-color: #1e62d338;
}

.md-typeset .admonition.note, .md-typeset details.note {
    border-color: #0077ff;
    border-width: 0.1rem;
}

/* warning */
.md-typeset .admonition.warning, .md-typeset details.warning {
    border-color: #ff3c00;
    border-width: 0.1rem;
}
.md-typeset .warning >.admonition-title, .md-typeset .warning > summary {
    background-color: #7a113b38;
}

/* better tables */
.md-typeset table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

/* better tables*/
th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
}

/* better column name cell */
th {
    background-color: #f2f2f2;
	font-weight: bold;
}

thead th:empty {
    border: thin solid red !important;
    display: none;
}

/* color when hovering over table cells (not column names) */
tr:hover, td:hover {
    background-color: #f7ebeb;
}

/* fixes an issue where the top border of a table cell would not show as black */
.md-typeset table:not([class]) td {
    border-top: 1px solid #000000;
	padding: .9375em 1.25em;
    vertical-align: top;
}