site_name: Workshop Mkdocs Nattan COCHET

extra_css:
  - stylesheet/style.css
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.top
    - navigation.indexes
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: indigo
      accent: red
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: indigo
      accent: blue

plugins:
  - social


nav:
  - Guide:
    - "Intro" : "intro.md"
    - "Etape 1": "etape1.md"